body {
    width: 100%;
    margin:0;
}

#main-aside-wrapper {
display: flex;
flex-direction: column;
}

div.header1 {
    border: 3px solid rgb(1, 0, 60);
    background-color: rgb(30, 160, 180);
    width: 100%;
    height: 120px;
}
div.content { 
    width: 960px;
    margin: auto;
}
#logo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
}
header {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 60px;
}
h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
#navigation a {
    color: rgbrgb(30, 160, 180);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#navigation {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
}
div.list {
    max-width: 960px;
    margin: 0 auto;
    background-color: rgb(30, 160, 180);
    padding: 10px;
}
div.list a {
    color: rgb(95, 14, 77);
}
#table1 {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
table {
    border: 3px solid rgb(72,72,72);
    border-collapse: collapse;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
}
th {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
td {
    color: rgb(15, 0, 120);
}
tr {
    height: 50px;
    text-align: center;
}
td,tr,th {
    border: 1px solid rgb(91, 91, 91);
}
tr:nth-child(odd) {
    background-color: rgb(5, 100, 120);
}
tr:nth-child(even) {
    background-color: rgb(30, 170, 200);
}
#form {
    max-width: 960px;
    margin: auto;
    background-color: rgb(30, 160, 180);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
div.footerr {
    margin: 0 auto;
    background-color: rgb(30, 160, 180);
}
footer {
    color:black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 20px;
}
